/*=================================
            CART
=================================*/

.cart__main {
	@include flexCenter;
	background-image: linear-gradient(180deg, $background-color, $color-primary);
	height: 100%;
	padding: 10px;
}
.cart__container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	background: $text-color-secondary;
	border-radius: 15px;
	padding: 10px;
	height: 100%;
	width: 100%;
}

.cart__article {
	overflow: hidden;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid #8f5bfe;
	min-height: 100px;
	height: 150px;
	gap: 1rem;

	& .cart__link__product {
		height: 100%;
		min-width: 100px;
		width: 300px;
		& .cart__product__img {
			height: 100%;
			width: 100%;
			-o-object-fit: cover;
			object-fit: cover;
			-o-object-position: left;
			object-position: left;
		}
	}

	& .cart__product__box {
		height: 100%;
		padding: 10px 0px;
		min-width: 100px;
		width: 350px;
		& .cart__product__name {
			@include smallMargin;
			font-size: clamp(16px, 1.7rem, 5vw);
			overflow-wrap: break-word;
		}
		& .cart__product__id {
			@include smallMargin;
			font-weight: lighter;
			overflow-wrap: break-word;
      font-size: clamp(10px, 1.5rem, 2vw);
		}
		& .cart__product__color {
			@include smallMargin;
			font-size: clamp(16px, 1.5rem, 2.5vw);
			overflow-wrap: break-word;
			font-weight: bold;
		}
	}

	& .cart__product__number__box {
		& .cart__product__quantity {
			font-size: clamp(10px, 1.5rem, 3vw);
			width: clamp(32px, 2.5rem, 3vw);
		}
		& .cart__product__price {
			width: 5rem;
			font-size: clamp(16px, 1.5rem, 4vw);
		}
	}
}

.cart__total__price {
	display: flex;
	justify-content: flex-end;
	margin: auto;
	gap: 1rem;
	font-size: clamp(0.8rem, 1.1rem, 1.7rem);
}
