/*=================================
            CART
=================================*/

.cart__main {
	@include flexCenter;
	background-image: linear-gradient(180deg, $background-color, $color-primary);
	height: 100%;
	padding: 10px;
}
.cart__box {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}
.cart__container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	background: $text-color-secondary;
	border-radius: 15px;
	padding: 10px;
	height: 100%;
	width: 100%;
	& .display__message{
		font-size: clamp(10px, 1.5rem, 4vw);
    font-weight: bold;
    text-align: center;
	}
	& .cart__article__container {
		& .cart__article__list {
			display: flex;
			flex-flow: column nowrap;
			gap: 1rem;
			padding: 0px;
			margin: 0px;
		}
	}
}

.cart__article {
	overflow: hidden;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid #8f5bfe;
	height: clamp(90px, 20vw, 180px);
	gap: clamp(3px, 0.4rem, 5vw);
	padding: 0px 10px 0px 0px;

	& .cart__link__product {
		height: 100%;
		min-width: 100px;
		width: 300px;
		& .cart__product__img {
			height: 100%;
			width: 100%;
			-o-object-fit: cover;
			object-fit: cover;
			-o-object-position: left;
			object-position: left;
		}
	}

	& .cart__product__box {
		height: 100%;
		padding: 5px 0px;
		width: clamp(90px, 30vw, 350px);
		& .cart__product__name {
			@include smallMargin;
			font-size: clamp(16px, 1.7rem, 4vw);
			overflow-wrap: break-word;
		}
		& .cart__product__id {
			@include smallMargin;
			font-weight: lighter;
			overflow-wrap: break-word;
			font-size: clamp(10px, 1.5rem, 2vw);
		}
		& .cart__product__color {
			@include smallMargin;
			font-size: clamp(12px, 1.5rem, 2.5vw);
			overflow-wrap: break-word;
			font-weight: bold;
		}
	}

	& .cart__product__number__box {
		& .cart__product__quantity {
			font-size: clamp(10px, 1.5rem, 3vw);
			width: clamp(32px, 5rem, 9vw);
		}
		& .cart__product__price {
			width: 5rem;
			font-size: clamp(12px, 1.5rem, 4vw);
			margin: 0.5rem 0px;
		}
		& .fa-trash-alt{
			color: $color-primary;
			font-size: clamp(8px, 1rem, 2vw);
			cursor: pointer;
		}
	}
}

.cart__total__price {
	display: flex;
	justify-content: flex-end;
	margin: auto;
	gap: 1rem;
	font-size: clamp(0.8rem, 1.1rem, 1.7rem);
}

.shade-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	height: 100%;
	width: 100%;
	& .form__card {
		position: fixed;
		background-color: white;
		height: 80%;
		width: 80%;
		border: 5px solid #8f5bfe;
    overflow: hidden;
    border-radius: 20px;
		z-index: 3;
	}
}
.form {
	position: relative;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	gap: 0.7rem;
	padding: clamp(16px,11rem,6vw);
	font-size: clamp(16px,2rem,1.7vw);
	& .form__exit{
		position: absolute;
    top: 12px;
    right: 25px;
		cursor: pointer;
		font-size: clamp(16px,1.5rem,3vw);
		margin: 0px;
	}
	& .form__title{
		font-weight: bold;
    font-size: clamp(20px,2rem,2vw);
		margin: 5px 0px;
	}
	& .display__error-text{
		font-size: 1rem;
		color : red;
		& p {
			margin: 3px 0px;
		}
	}
	& .form__button{
		display: flex;
    justify-content: center;
		margin: auto;
	}
}

