
/*====================================
            FINAL PAGE
===================================*/
.ticket{
  @include flexCenter;
  @include longShadow;
  flex-flow: column nowrap;
  padding: 10px;
  border-radius: 10px;
  background: $background-color;


  & .ticket__id{
    font-size: 1.8rem;
  }
  & .ticket__confirm{
    font-size: 1.3rem;
    & .fa-check-circle{
      color:limegreen;
    }
  }
  & .ticket__thanks{
    @include flexCenter;
    flex-flow: column nowrap;
    &__paragraph{
      margin: 5px;
    }
    &__img{
      height: 4rem;
      width: 15rem;
      margin: 10px;
    }
  }
}

.main__final {
  @include flexCenter;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(
0deg, #8f5bfe, #f3e9f2);
}