/* ===================================
                FOOTER
===================================*/
.footer{
 @include flexCenter;

  background: $color-primary;
  padding: 30px 20px;

  & .footer__list{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 1rem;
  }
}
.footer__links{
  & .footer__links__icon{
    color: $text-transparency-color;
    font-size: 2rem;
    min-width: 100px;
    width: 130px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    text-align: center;
  }
}
.footer__links:hover{
  & .footer__links__icon{
    color: $text-color-secondary;
    transform: scale(1.1,1.1);
  }
}