
/* =================================
                     HEADER
================================= */

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: $background-color;
  padding: 15px 0px;
  & .header__box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 80%;
    & .logo{
      height: 7vw;
      width: 24vw;
    }
    & .main__title{
      font-size: clamp(1rem, 1.2rem, 2rem);
      text-align: center;
      margin: 0px;
    }
  }
  & .cart__link{
    position: absolute;
    right: 2vw;
    & .cart__logo{
      height: 2rem;
      width: 2rem;
      transition: .2s ease-in-out;
    }
    &:hover{
      & .cart__logo{
        transform:scale(1.1, 1.1);
      }
    }
  }
}