

/*=================================
            PRODUCT
=================================*/

.main__product{
  @include flexCenter;
  height: 100%;
  width: 100%;
  padding: 5%;
  & .product-card{
    @include boxShadow;
    & .product__img-box{
      height: 50%;
      width: 100%;
      background-size: cover;
      border-bottom: 2px solid $background-color;
      & .product__img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
.product__informations{
  display: flex;
  flex-flow:column nowrap;
  & .product__name{
    margin: 5px 0px;
  }
  & .product__id{
    margin: 0px;
  }
}
.product__description{
  padding:5px 10px;
  & .product__title{
    font-size: 1rem;
  }
  & .product__description__paragraph{
    font-size: 1rem;
    font-style: italic;
  }
}

