

/*=================================
            PRODUCT
=================================*/

.main__product{
  @include flexCenter;
  width: 100%;
  height: auto;
  flex-grow: 3;
  padding: 5%;
  background-image: linear-gradient(0deg, $color-primary, $background-color);
  & .product-card{
    @include clearShadow;
    background: $background-color;
    border-radius: 20px;
    overflow: hidden;
    & .product__img-box{
      height: 50%;
      width: 100%;
      background-size: cover;
      border-bottom: 2px solid $background-color;
      & .product__img{
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
      }
    }
  }
}
.product__informations{
  display: flex;
  flex-flow:column nowrap;
  padding: 10px;
  & .product__name{
    margin: 5px 0px;
  }
  & .product__id{
    margin: 0px;
  }
}
.product__description{
  padding:5px 10px;
  & .product__title{
    font-size: 1rem;
  }
  & .product__description__paragraph{
    font-size: 1rem;
    font-style: italic;
  }
}


/* ================================== */
/* 					MEDIA QUERIE							*/
/* ================================== */

@media screen and (max-width: 680px) {
	.main__product {
		height: 100%;
	}
}