

@import './tools/variables';
@import './tools/mixins';

*{
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}
body{
  margin: 0px;
}
@import './layouts/header';
@import './layouts/footer';
@import './layouts/main';
@import './layouts/product';
@import './layouts/cart';
@import './layouts/final';

@import './components/buttons';