* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0px;
}

/* =================================
                     HEADER
================================= */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #f3e9f2;
  padding: 15px 0px;
}
.header .header__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 80%;
}
.header .header__box .logo {
  min-height: 39px;
  height: 7vw;
  min-width: 130px;
  width: 24vw;
}
.header .header__box .main__title {
  font-size: clamp(1rem, 1.2rem, 2rem);
  text-align: center;
  margin: 0px;
}
.header .cart__link {
  position: absolute;
  right: 2vw;
  bottom: 1vh;
  height: 2.5vw;
  width: 2.5vw;
  min-height: 25px;
  min-width: 25px;
  max-height: 40px;
  max-width: 40px;
}
.header .cart__link .cart__logo {
  height: 100%;
  width: 100%;
  transition: 0.2s ease-in-out;
}
.header .cart__link:hover .cart__logo {
  transform: scale(1.1, 1.1);
}

/* ===================================
                FOOTER
===================================*/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #8f5bfe;
  padding: 30px 20px;
}
.footer .footer__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  gap: 1rem;
}

.footer__links .footer__links__icon {
  color: rgba(255, 255, 255, 0.8);
  font-size: 2rem;
  min-width: 100px;
  width: 130px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  text-align: center;
}

.footer__links:hover .footer__links__icon {
  color: #ffffff;
  transform: scale(1.1, 1.1);
}

/*========================================
                      MAIN PAGE
=======================================*/
html {
  height: 100%;
  background-color: #8f5bfe;
}

body {
  height: 100%;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
}

.main {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(0deg, #8f5bfe, #f3e9f2);
  flex-grow: 3;
}
.main .main-container {
  box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.15), -4px -4px 8px rgba(0, 0, 0, 0.15), 2px 2px 4px rgba(255, 255, 255, 0.15), 4px 4px 8px rgba(255, 255, 255, 0.15), 8px 8px 16px rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  padding: 10px 0px;
}
.main .main-container .teddie__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0px;
  padding: 1rem;
  gap: 2rem;
  width: 100%;
  list-style-type: none;
}
.main .main-container .teddie__list .teddie__card {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 2px rgba(143, 91, 254, 0.15), 0px 0px 4px rgba(143, 91, 254, 0.15), 0px 0px 8px rgba(143, 91, 254, 0.2), 0px 0px 16px rgba(143, 91, 254, 0.15);
  min-width: 200px;
  min-height: 200px;
  width: 20vw;
  height: 20vw;
  max-height: 300px;
  max-width: 300px;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.3s;
}
.main .main-container .teddie__list .teddie__card:hover {
  transform: scale(1.05, 1.05);
}
.main .main-container .teddie__list img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.center-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

/* ================================== */
/* 					MEDIA QUERIE							*/
/* ================================== */
@media screen and (max-width: 550px) {
  .main {
    height: auto;
  }
}
/*=================================
            PRODUCT
=================================*/
.main__product {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  flex-grow: 3;
  padding: 5%;
  background-image: linear-gradient(0deg, #8f5bfe, #f3e9f2);
}
.main__product .product-card {
  box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.15), -4px -4px 8px rgba(0, 0, 0, 0.15), 2px 2px 4px rgba(255, 255, 255, 0.15), 4px 4px 8px rgba(255, 255, 255, 0.15), 8px 8px 16px rgba(255, 255, 255, 0.15);
  background: #f3e9f2;
  border-radius: 20px;
  overflow: hidden;
}
.main__product .product-card .product__img-box {
  height: 50%;
  width: 100%;
  background-size: cover;
  border-bottom: 2px solid #f3e9f2;
}
.main__product .product-card .product__img-box .product__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.product__informations {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
}
.product__informations .product__name {
  margin: 5px 0px;
}
.product__informations .product__id {
  margin: 0px;
}

.product__description {
  padding: 5px 10px;
}
.product__description .product__title {
  font-size: 1rem;
}
.product__description .product__description__paragraph {
  font-size: 1rem;
  font-style: italic;
}

.product__quantity__box {
  display: flex;
  flex-flow: column wrap;
}
.product__quantity__box .product__quantity {
  font-size: clamp(1rem, 2vw, 3rem);
}

.product__quantity--error-message {
  color: red;
  margin: 0px;
  padding-left: 5px;
  font-size: clamp(10px, 1rem, 3rem);
  font-style: italic;
}

/* ================================== */
/* 					MEDIA QUERIE							*/
/* ================================== */
@media screen and (max-width: 680px) {
  .main__product {
    height: 100%;
  }
}
/*=================================
            CART
=================================*/
.cart__main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(180deg, #f3e9f2, #8f5bfe);
  height: 100%;
  padding: 10px;
}

.cart__box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.cart__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  background: #ffffff;
  border-radius: 15px;
  padding: 10px;
  height: 100%;
  width: 100%;
}
.cart__container .cart__article__container .cart__article__list {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 0px;
  margin: 0px;
}

.cart__article {
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #8f5bfe;
  height: clamp(90px, 20vw, 180px);
  gap: clamp(3px, 0.4rem, 5vw);
  padding: 0px 10px 0px 0px;
}
.cart__article .cart__link__product {
  height: 100%;
  min-width: 100px;
  width: 300px;
}
.cart__article .cart__link__product .cart__product__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left;
  object-position: left;
}
.cart__article .cart__product__box {
  height: 100%;
  padding: 5px 0px;
  width: clamp(90px, 30vw, 350px);
}
.cart__article .cart__product__box .cart__product__name {
  margin: 3px 0px;
  font-size: clamp(16px, 1.7rem, 4vw);
  overflow-wrap: break-word;
}
.cart__article .cart__product__box .cart__product__id {
  margin: 3px 0px;
  font-weight: lighter;
  overflow-wrap: break-word;
  font-size: clamp(10px, 1.5rem, 2vw);
}
.cart__article .cart__product__box .cart__product__color {
  margin: 3px 0px;
  font-size: clamp(12px, 1.5rem, 2.5vw);
  overflow-wrap: break-word;
  font-weight: bold;
}
.cart__article .cart__product__number__box .cart__product__quantity {
  font-size: clamp(10px, 1.5rem, 3vw);
  width: clamp(32px, 5rem, 9vw);
}
.cart__article .cart__product__number__box .cart__product__price {
  width: 5rem;
  font-size: clamp(12px, 1.5rem, 4vw);
}

.cart__total__price {
  display: flex;
  justify-content: flex-end;
  margin: auto;
  gap: 1rem;
  font-size: clamp(0.8rem, 1.1rem, 1.7rem);
}

.shade-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  height: 100%;
  width: 100%;
}
.shade-screen .form__card {
  position: fixed;
  background-color: white;
  height: 80%;
  width: 80%;
  border: 5px solid #8f5bfe;
  overflow: hidden;
  border-radius: 20px;
  z-index: 3;
}

.form {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.7rem;
  padding: clamp(16px,11rem,6vw);
  font-size: clamp(16px,2rem,1.7vw);
}
.form .form__exit {
  position: absolute;
  top: 12px;
  right: 25px;
  cursor: pointer;
  font-size: clamp(16px,1.5rem,3vw);
  margin: 0px;
}
.form .form__title {
  font-weight: bold;
  font-size: clamp(20px,2rem,2vw);
  margin: 5px 0px;
}
.form .form__button {
  display: flex;
  justify-content: center;
  margin: auto;
}

/*====================================
            FINAL PAGE
===================================*/
.ticket {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.15), -4px -4px 8px rgba(0, 0, 0, 0.15), -8px -8px 16px rgba(0, 0, 0, 0.15), 2px 2px 4px rgba(255, 255, 255, 0.15), 4px 4px 8px rgba(255, 255, 255, 0.15), 8px 8px 16px rgba(255, 255, 255, 0.15);
  flex-flow: column nowrap;
  padding: 10px;
  border-radius: 10px;
  background: #f3e9f2;
}
.ticket .ticket__id {
  font-size: 1.8rem;
}
.ticket .ticket__confirm {
  font-size: 1.3rem;
}
.ticket .ticket__confirm .fa-check-circle {
  color: limegreen;
}
.ticket .ticket__thanks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}
.ticket .ticket__thanks__paragraph {
  margin: 5px;
}
.ticket .ticket__thanks__img {
  height: 4rem;
  width: 15rem;
  margin: 10px;
}

.main__final {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(0deg, #8f5bfe, #f3e9f2);
}

.btn {
  background-color: #8f5bfe;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 20px;
  box-shadow: inset -2px -2px 2px darkslateblue;
  border: 0px solid black;
}
.btn:active {
  box-shadow: inset 4px 4px 5px darkslateblue;
  transition: 0.1s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
