* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

/* =================================
                     HEADER
================================= */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #f3e9f2;
  padding: 15px 0px;
}
.header .header__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 80%;
}
.header .header__box .logo {
  min-height: 39px;
  height: 7vw;
  min-width: 130px;
  width: 24vw;
}
.header .header__box .main__title {
  font-size: clamp(1rem, 1.2rem, 2rem);
  text-align: center;
  margin: 0px;
}
.header .cart__link {
  position: absolute;
  right: 2vw;
  bottom: 1vh;
  height: 2.5vw;
  width: 2.5vw;
  min-height: 25px;
  min-width: 25px;
  max-height: 40px;
  max-width: 40px;
}
.header .cart__link .cart__logo {
  height: 100%;
  width: 100%;
  transition: 0.2s ease-in-out;
}
.header .cart__link:hover .cart__logo {
  transform: scale(1.1, 1.1);
}

/* ===================================
                FOOTER
===================================*/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #8f5bfe;
  padding: 30px 20px;
}
.footer .footer__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  gap: 1rem;
}

.footer__links .footer__links__icon {
  color: rgba(255, 255, 255, 0.8);
  font-size: 2rem;
  min-width: 100px;
  width: 130px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  text-align: center;
}

.footer__links:hover .footer__links__icon {
  color: #ffffff;
  transform: scale(1.1, 1.1);
}

/*========================================
                      MAIN PAGE
=======================================*/
html {
  height: 100%;
}

body {
  height: 100%;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
}

.main {
  padding: 1rem 2rem;
}
.main .teddie__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  gap: 2rem;
  width: 100%;
  list-style-type: none;
}
.main .teddie__list .teddie__card {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 7px #c8c8c8;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.center-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

/*=================================
            PRODUCT
=================================*/
.main__product {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0px 5%;
}
.main__product .product-card {
  box-shadow: 0px 0px 7px #c8c8c8;
  height: 100%;
  width: 100%;
}
.main__product .product-card .product__img {
  height: 50%;
  width: 100%;
  background-size: cover;
  border-bottom: 2px solid #f3e9f2;
}

.product__informations .product__name {
  margin: 5px 0px;
}
.product__informations .product__id {
  margin: 0px;
}

.product__description {
  padding: 5px 10px;
}
.product__description .product__title {
  font-size: 1rem;
}
.product__description .product__description__paragraph {
  font-size: 1rem;
  font-style: italic;
}

/*=================================
            CART
=================================*/
.cart__main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  width: 100%;
  padding: 10px;
}
.cart__main .cart__container {
  border: 2px solid #f3e9f2;
  padding: 10px;
  height: 70vh;
  width: 100%;
}

.cart__article {
  box-shadow: 0px 0px 7px #c8c8c8;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

/*====================================
            FINAL PAGE
===================================*/

/*# sourceMappingURL=style.css.map */
