

@mixin color-gradient-primary{
  background: rgb(231,139,6);
  background: linear-gradient(90deg, rgba(231,139,6,1) 0%, rgba(143,91,254,1) 78%);
}

@mixin flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin boxShadow {
  box-shadow: 0px 0px 7px rgba(200, 200, 200, 1);  
}
@mixin primaryColorShadow {
  box-shadow: 0px 0px 2px rgb(143 91 254 / 15%), 0px 0px 4px rgb(143 91 254 / 15%), 0px 0px 8px rgb(143 91 254 / 20%), 0px 0px 16px rgb(143 91 254 / 15%);
}
@mixin clearShadow {
  box-shadow: 
  -2px -2px 4px rgba(0 0 0 / 15%), 
  -4px -4px 8px rgba(0 0 0 / 15%),
  2px 2px 4px rgba(255 255 255 / 15%), 
  4px 4px 8px rgba(255 255 255 / 15%), 
  8px 8px 16px rgba(255 255 255 / 15%);
}
@mixin longShadow {
  box-shadow: 
  -2px -2px 4px rgba(0 0 0 / 15%), 
  -4px -4px 8px rgba(0 0 0 / 15%),
  -8px -8px 16px rgba(0 0 0 / 15%),  
  2px 2px 4px rgba(255 255 255 / 15%), 
  4px 4px 8px rgba(255 255 255 / 15%), 
  8px 8px 16px rgba(255 255 255 / 15%);
}
@mixin btnShadow{
  box-shadow: inset -2px -2px 2px darkslateblue;
}
@mixin btnShadowActive{
  box-shadow: inset 4px 4px 5px darkslateblue;
}
@mixin smallMargin {
  margin: 3px 0px;
}